---
layout: main.njk
title: Explore Coffee Recipes
---

<h1 style="margin: 0;">{{ title }}</h1>

<p>Find your next favourite coffee recipe.</p>

<style>
    .filters {
        display: flex;
        margin-bottom: 1rem;
    }

    .filters div {
        margin-right: 1rem;
    }

    .filters label {
        font-weight: bold;
    }

    .filters select {
        width: 100%;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0.5rem;
    }
</style>
<div class="filters">
    <div style="flex: 1 50%;">
        <label for="method">Filter by Method</label><br>
        <select id="method">
        </select>
    </div>
    <div style="flex: 1 50%;">
        <label for="grinder">Filter by Grinder</label><br>
        <select id="grinder">
            <option value="all">All Grinders</option>
        </select>
    </div>
</div>

<style>
    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-info img {
        width: initial;
    }
    .author-card {
        display: flex;
        align-items: center;
        flex: 1 50%;
        margin-bottom: 25px;
    }
</style>

<ul class="grid">
    {% for recipe in collections.alphabetical_recipes %}
        <li class="card" data-method="{{ recipe.data.method }}" data-grinder="{{ recipe.data.grinder }}">
            <a href="{{ recipe.url }}">
                <img src="{{ recipe.data.image }}" alt="{{ recipe.data.title }}">
                <div class="card-info">
                    <h3 style="flex: 0 30%;">{{ recipe.data.title }}</h3>
                </div>
                {% if recipe.data.duration_processed %}
                    <ul class="inner-card-list">
                        <li><time class="dt-duration" datetime="{{ recipe.data.duration_processed }}"><i class="fa-solid fa-clock"></i> {{ recipe.data.duration }}</time></li>
                        <li><data class="p-yield" value="{{ recipe.data.serves }}"><i class="fa-solid fa-mug-hot"></i> {{ recipe.data.serves }} {% if recipe.data.serves == 1 %}serving{% else %}servings{% endif %}</data></li>
                    </ul>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
    }
</style>


<script>
    function filterByMethod(method) {
        const cards = document.querySelectorAll('.card');
        cards.forEach(card => {
            if (method === 'all') {
                card.style.display = 'block';
            } else {
                if (card.dataset.method === method) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            }
        });
    }

    function filterByGrinder(grinder) {
        const cards = document.querySelectorAll('.card');
        cards.forEach(card => {
            if (grinder === 'all') {
                card.style.display = 'block';
            } else {
                console.log(card.dataset.grinder);
                if (card.dataset.grinder === grinder) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            }
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        const methodSelect = document.querySelector('#method');
        const grinderSelect = document.querySelector('#grinder');

        methodSelect.addEventListener('change', (e) => {
            filterByMethod(e.target.value);
        });

        grinderSelect.addEventListener('change', (e) => {
            filterByGrinder(e.target.value);
        });
    });

    // add method
    const methodSelect = document.querySelector('#method');
    
    // get data-method
    var methods = [];

    const cards = document.querySelectorAll('.card');

    cards.forEach(card => {
        methods.push(card.dataset.method);
    });

    methods = [...new Set(methods)];

    methodSelect.innerHTML = '<option value="all">All Methods</option>';

    methods.forEach(method => {
        methodSelect.innerHTML += `<option value="${method}">${method}</option>`;
    });
</script>
