---
layout: main
---

<section class="breadcrumbs">
    <a href="/">Coffee Recipes</a> &raquo; <a href="/compare">Compare</a> &raquo; {{ title }}
</section>

<h1>{{ title }} Recipes</h1>

<p>View {{ brewer }} recipes that have instructions for {{ grinder }}.</p>

