---
layout: main
---

<section class="breadcrumbs">
    <a href="/">Coffee Recipes</a> &raquo; <a href="/compare">Compare</a> &raquo; {{ title }}
</section>

<h1>{{ title }}</h1>

<div class="two-image-grid">
    <div>
        <img src="{{ first_image }}" alt="{{ grinder }}">
        <figcaption>{{ grinder }}</figcaption>
    </div>
    <div>
        <img src="{{ second_image }}" alt="{{ otherGrinder }}">
        <figcaption>{{ otherGrinder }}</figcaption>
    </div>
</div>

<p>Compare the {{ grinder }} and the {{ otherGrinder }} grinders.</p>

<style>
    @media (max-width: 600px) {
        table {
            border-collapse: collapse;
            border: var(--main-color) 2px solid;
            border-radius: 5px;
            width: 100%;
        }
        td:nth-of-type(1):before { content: "Name"; }
        td:nth-of-type(2):before { content: "Cost"; }
        td:nth-of-type(3):before { content: "Manual / Electric"; }
        td:nth-of-type(4):before { content: "Ideal For"; }
        td:nth-of-type(5):before { content: "Home Grind Quality"; }
        td:nth-of-type(6):before { content: "Rating"; }

        .two-image-grid {
            grid-template-columns: repeat(2, 1fr);
        }
        .two-image-grid img {
            height: 100%;
        }
    }
</style>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Manual / Electric</th>
            <th>Ideal For</th>
            <th>Home Grind Quality</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ grinder }}</td>
            <td>$250</td>
            <td>Manual</td>
            <td>Home</td>
            <td>Excellent</td>
            <td>{% for rating in first_rating %} <i class="fa-solid fa-star"></i>{% endfor %}</td>
        </tr>
        <tr>
            <td>{{ otherGrinder }}</td>
            <td>$40</td>
            <td>Manual</td>
            <td>Travel</td>
            <td>Good</td>
            <td>{% for rating in second_rating %} <i class="fa-solid fa-star"></i>{% endfor %}</td>
        </tr>
    </tbody>
</table>

<h2>Compare to Other Grinders</h2>

<ul class="grid">
    {% for recipe in collections.grinders | slice (0, 6) %}
        <li class="card" data-method="{{ recipe.data.method }}" data-grinder="{{ recipe.data.grinder }}">
            <a href="{{ recipe.url }}">
                <div class="card-info">
                    <h3 style="flex: 0 30%;">{{ recipe.data.title }}</h3>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>

<h2>View Other Grinders</h2>

<ul class="grid">
    {% for recipe in collections.grinders | slice (0, 6) %}
        <li class="card">
            <a href="{{ recipe.url }}">
                <h3>{{ recipe.data.title }}</h3>
            </a>
        </li>
    {% endfor %}
</ul>