---
layout: main
---

<section class="breadcrumbs">
    <a href="/">Coffee Recipes</a> &raquo; <a href="/compare">Compare</a> &raquo; {{ title }}
</section>

<h1>{{ title }}</h1>

<div class="two-image-grid">
    <div>
        <img src="{{ first_image }}" alt="{{ first_item }}">
        <figcaption>{{ first_item }}</figcaption>
    </div>
    <div>
        <img src="{{ second_image }}" alt="{{ second_item }}">
        <figcaption>{{ second_item }}</figcaption>
    </div>
</div>

<p>Compare the {{ first_item }} and the {{ second_item }} brewers.</p>

<table>
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ first_item }}</td>
            <td>{{ second_item }}</td>
        </tr>
        <tr>
            <th>Cost</th>
            <td>$250</td>
            <td>$40</td>
        </tr>
        <tr>
            <th>Manual / Electric</th>
            <td>Manual</td>
            <td>Manual</td>
        </tr>
        <tr>
            <th>Ideal For</th>
            <td>Home</td>
            <td>Travel</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>{% for rating in first_rating %} <i class="fa-solid fa-star"></i>{% endfor %}</td>
            <td>{% for rating in second_rating %} <i class="fa-solid fa-star"></i>{% endfor %}</td>
        </tr>
    </tbody>
</table>

<h2>View Other Grinders</h2>

<ul class="grid">
    {% for recipe in collections.grinders %}
        <li class="card">
            <a href="{{ recipe.url }}">
                <h3>{{ recipe.data.title }}</h3>
            </a>
        </li>
    {% endfor %}
</ul>