---
layout: main
---

<section class="breadcrumbs">
    <a href="/">Coffee Recipes</a> &raquo; <a href="/compare">Compare</a> &raquo; {{ title }}
</section>

<h1>{{ title }}</h1>

<img src="{{ image }}" alt="{{ title }}">
<figcaption>{{ title }}</figcaption>

<ul>
    <li>Cost: ${{ cost }}</li>
    <li>Manual / Electric: {{ manual_electric }}</li>
    <li>Ideal For: {{ ideal_for }}</li>
    <li>Home Grind Quality: {{ home_grind_quality }}</li>
    <li>Burr Type: {{ burr_type }}</li>
    <li>Rating: {% for rating in rating %} <i class="fa-solid fa-star"></i>{% endfor %}</li>
</ul>


<h2>View Other Grinders</h2>

<ul class="grid">
    {% for recipe in collections.grinders | slice (0, 6) %}
        <li class="card">
            <a href="{{ recipe.url }}">
                <h3>{{ recipe.data.title }}</h3>
            </a>
        </li>
    {% endfor %}
</ul>