
:root {
    --main-color: #7a593a;
}
* {
    box-sizing: border-box;
    font-family: "proxima-nova",sans-serif;
    line-height: 1.5em;
}
li {
    padding-bottom: 5px;
}
html, body {
    padding: 0;
    margin: 0;
}
a {
    color: var(--main-color);
    text-decoration: none;
}
img {
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
}
h1 {
    margin: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    list-style-type: none;
    padding: 0;
}
.grid li {
border: 1px solid var(--main-color);
box-shadow: 0 0 10px rgba(0,0,0,0.1);
border-radius: 5px;
padding: 10px;
}
.grid li:hover {
transform: scale(1.05);
transition: transform 0.2s ease-in-out;
}
.grid img {
width: 100%;
border-radius: 5px;
max-height: 200px;
object-fit: cover;
}
time, data {
font-weight: 600;
}
nav {
border-top: 5px solid var(--main-color);
}
main, .nav_inner {
max-width: 800px;
margin: 0 auto;
padding: 1rem;
padding-bottom: 0;
}
.profile-photo {
border-radius: 10px;
width: 50px;
height: 50px;
margin-right: 10px;
}
nav ul {
display: flex;
align-items: center;
list-style-type: none;
padding: 0;
}
nav li {
margin-right: 10px;
}
.inner-card-list {
display: flex;
justify-content: space-between;
align-items: center;
list-style-type: none;
padding: 0;
}
.hero-banner-overlay h1 {
color: white;
text-align: center;
background-color: rgba(0,0,0,0.7);
padding: 20px;
}
.top-section {
display: flex;
justify-content: space-between;
align-items: center;
}
.profile-card {
display: flex;
align-items: center;
border: 1px solid var(--main-color);
border-radius: 5px;
padding: 5px;
}
.profile-card:hover {
transform: scale(1.05);
transition: transform 0.2s ease-in-out;
}
.tags {
display: flex;
justify-content: flex-start;
align-items: center;
list-style-type: none;
padding: 0;
}
.tags li {
margin-right: 10px;
border: 1px solid var(--main-color);
border-radius: 5px;
padding: 5px;
}
.tags li:hover {
transform: scale(1.05);
transition: transform 0.2s ease-in-out;
}
table {
border-collapse: collapse;
width: 100%;
}
th, td {
text-align: left;
padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
.two-image-grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 1rem;
}
.two-image-grid img {
width: 100%;
border-radius: 5px;
max-height: 200px;
object-fit: cover;
}
footer {
padding: 1rem;
}
footer ul {
display: flex;
text-align: center;
justify-content: center;
list-style-type: none;
padding: 0;
max-width: 800px;
margin: 0 auto;
}
footer ul li {
margin-right: 10px;
}
select {
padding: 10px;
border: 1px solid var(--main-color);
border-radius: 5px;
margin-bottom: 10px;
}
.two-image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
}
.two-image-grid img {
    width: 100%;
}
.two-image-grid figcaption {
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    white-space: nowrap;
}

td:first-child {
    font-weight: bold;
}

th:first-child {
    color: var(--main-color);
}
.fa-star {
    color: gold;
}
iframe {
    width: 100%;
}
.callout {
    display: block;
    border: 3px solid lightgreen;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.callout p {
    margin: 0;
}
@media (max-width: 600px) {
    .top-section {
        display: block;
    }
    .profile-card {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    img {
        margin: initial;
    }
    footer ul {
        display: block;
    }
    footer ul li {
        margin-bottom: 10px;
    }
    table {
        display: block;
        overflow-x: auto;
    }
    /* tables should be vertical on small screens */
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    td {
        border: none;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }
}